body {
  margin: 0;
}

.Margin {
  margin: 100px
}
.Table {
  width: 100%;
  text-align: left;
}
.Table td {
  padding-top: 10px ;
  padding-bottom: 10px;
}

#Menu {
  background-color: #253a46;
  padding: 20px;
  font-size: 20px
}
#Menu a {
  color: white;
  padding-right: 50px;
  text-decoration: none;
}
.Center {
  text-align: center;
}
.rojo {
  color: red;
}
.Post_titulo {
  border-top: 1px solid black;
  cursor: pointer;
}
li {
  margin: 15px 0 15px0;
}
.Container_tasks {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 70px;
} 

