@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.Task {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.Margin {
  margin: 100px
}
.Table {
  width: 100%;
  text-align: left;
}
.Table td {
  padding-top: 10px ;
  padding-bottom: 10px;
  position: relative;
}
.Table td::after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: calc(100% + 2px);
}

#Menu {
  background-color: #253a46;
  padding: 20px;
  font-size: 20px
}
#Menu a {
  color: white;
  padding-right: 50px;
  text-decoration: none;
}
.Center {
  text-align: center;
}
.rojo {
  color: red;
}
.Post_titulo {
  border-top: 1px solid black;
  cursor: pointer;
}
li {
  margin: 15px 0 15px0;
}
.Container_tasks {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 70px;
  disabled: flex;
} 

.m_left {
  margin-left: 20px;
}

/* <!-- HTML !--> */
/* <button class="button-26" role="button">Button 26</button> */

/* CSS */
button {
  appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}
.edit {
  background-color: #ce4949;
}
.edit:hover {
  background-color: #d20000;
  border-color: #d20000;
}

button > a {
  text-decoration: none;
  color: #fff;
} 

button:disabled {
  opacity: .5;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

button:active {
  background-color: #0039D7;
  border-color: #0039D7;
}